.home-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
  /*   display: flex;
    .video-split-component {
        width: 35%;
    }
     .video-combine-component {
        width: 65%;
    } */
}

